body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    padding: 10px;
    box-sizing: border-box;
}

#game-container {
    text-align: center;
    border: 2px solid #ccc;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;  /* Increased max-width for a wider layout */
    box-sizing: border-box;
}

h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}

#word-container {
    font-size: 2em;
    letter-spacing: 0.2em;
    margin-bottom: 20px;
    margin-top: 10px;
}

.input-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

#guess-input {
    width: 80%;
    max-width: 400px;
    height: 40px;
    font-size: 1.5em;
    text-align: center;
    padding: 0 10px;
}

#submit-btn {
    height: 44px;
    font-size: 1.5em;
    padding: 0 10px;
}

button {
    cursor: pointer;
}

button:disabled {
    background-color: #ddd;
}

#image-container {
    padding-top: 20px;
    height: 450px; /* Increased height to make the image taller */
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#image-container img {
    width: auto; /* Allow the image to be wider */
    height: 100%; /* Increase the height to fill the container */
    max-width: 100%; /* Ensure the image doesn't exceed the container width */
    max-height: 100%; /* Ensure the image doesn't exceed the container height */
}

#incorrect-guesses, #game-status {
    font-size: 1.2em;
}

#reload-btn {
    display: none;
    margin-top: 20px;
}

/* Media Queries for mobile and tablet responsiveness */
@media (max-width: 768px) {
    #game-container {
        padding: 15px;
    }

    #word-container {
        font-size: 1.5em;
    }

    #guess-input, #submit-btn {
        font-size: 1.2em;
    }

    #image-container {
        height: 300px; /* Adjust image size on tablets */
    }

    #incorrect-guesses, #game-status {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    body {
        padding: 20px;
    }

    #guess-input, #submit-btn {
        font-size: 1.2em;
    }

    #word-container {
        font-size: 1.2em;
    }

    #image-container {
        height: 250px; /* Adjust image height for smaller screens */
    }

    #incorrect-guesses, #game-status {
        font-size: 1em;
    }
}
